@use '@quangdao/scissors/scss/elements';

@include elements.anchor {
  color: currentColor;
}

button {
  cursor: pointer;
}

abbr {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}
